APP_URL=http://localhost:8080
API_ENDPOINT=http://localhost:8000
DISPLAY_BROWSER=false
CODING_API_ENDPOINT=https://xxx.coding.net/open-api
CODING_API_TOKEN=xxx
CODING_API_PROJECT_NAME=xxx
LOG_LEVEL=info
PLUGIN_INSTALL_SOURCE=Gitee
PLUGIN_GOPROXY=
RETRIES=2
WORKERS=2
TIMEOUT=60
REPORT_HTML_OPEN=never
